.navbar{
    padding: 20px ;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 150px;

}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 25px;
    color: #49557e;
    font-size:18px ;
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:25px ;
    cursor: pointer;
}

@media(max-width:1050px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;

    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 15px;
    }

}

@media(max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 10px;
        font-size: 14px;
    }
    .navbar-right{
        gap: 20px;

    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 8px 20px;
    }

}
@media(max-width:750px){
    .navbar-menu{
        display: none;
    }
    
 

}