.footer{
    display: flex;
    flex-direction: column;
    color: #d9d9d9;
    background-color: #323232;
    gap: 20px;
    align-items: center;
    padding: 20px 8vw;
    padding-top: 80px;

}
.footer-content{
    width: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-center,.footer-content-right,.footer-content-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
}
.footer-social-icon{
    display: flex;

}